//home all color
$textColor: #fff;
$titleBg: #fff;
$formMainBg: #06086b;
$formButtonBg: green;
$inputFocus: rgb(196, 17, 181);
$tableHeadBg: linear-gradient(7deg, #be7ef9 0%, #9b90fa 80%);
$tableItemColor: rgb(34, 24, 24);

@mixin margin-y {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@mixin padding-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.containerFull {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.imageDiv {
  text-align: center;
  @include margin-y;
}

.imageDiv > img {
  width: 10%;
  margin: 0 auto;
}

.formMain {
  background-color: $formMainBg;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  color: $textColor;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.formLabel {
  margin-bottom: 1rem;
}

.formItem {
  padding: 1rem;
}

.formButton {
  width: 7rem;
  height: 3rem;
  background-color: $formButtonBg;
  padding: 1rem;
  color: $textColor;
  border: none;
  border-radius: 1rem;
  margin-top: 10%;
  cursor: pointer;
}

.formInput {
  width: 80%;
  height: 3rem;
  outline: none;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid $formButtonBg;
}

.formInput:focus {
  border: 0.2rem solid $inputFocus;
}

//data show table grid

.tableGrid {
  @include padding-y;
  background: $tableHeadBg;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  margin-top: 3rem;
  border-radius: 1rem;
}

.tableItem {
  padding: 1rem;
  color: $tableItemColor;
}

.tableisEmpty {
  width: 100%;
  height: 20rem;
  background-color: gray;
  border-radius: 1rem;
}

.tableisEmpty > h2 {
  padding-top: 8rem;
  text-align: center;
}

//mobile responsive

@media screen and (max-width: 550px) {
  .container {
    width: 100%;
  }

  .formGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .formInput {
    width: 100%;
  }

  .tableGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

//tablet responsive

@media screen and (min-width: 551px) and (max-width: 640px) {
  .container {
    width: 100%;
  }

  .formGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .formInput {
    width: 100%;
  }

  .tableGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

//mini leptop responsive

@media screen and (min-width: 641px) and (max-width: 740px) {
  .container {
    width: 100%;
  }

  .formGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .formInput {
    width: 100%;
  }

  .tableGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

//leptop responsive

@media screen and (min-width: 741px) and (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .formGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .formInput {
    width: 100%;
  }

  .tableGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
