.containerFull {
  width: 100%;
  background-color: rgb(38, 10, 141);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.titleDiv {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: aqua;
  text-align: center;
}

//navigation responsive

@media screen and (max-width: 550px) {
  .container {
    width: 100%;
  }
}
