$personItemBg: #def5de;

.personMain {
  background-color: $personItemBg;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  border-radius: 1rem;
  border-bottom: 1px solid gray;
}

.personItem {
  margin-top: 0.5rem;
  padding: 0.3rem;
}

.personButton {
  width: 7rem;
  height: 3rem;
  display: block;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.newItemMain {
  position: relative;
}

.newItem {
  width: 3rem;
  height: 2rem;
  background-color: rgb(50, 197, 62);
  padding: 0.5rem;
  border-radius: 1rem;
  position: absolute;
  top: -3rem;
  left: 70rem;
  right: 0;
  bottom: 0;
  color: rgb(245, 245, 241);
  z-index: 2000;
}

//person table responsive

@media screen and (max-width: 320px) {
  .personMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-top: 3rem;
    border-right: 1px solid gray;
  }

  .newItem {
    top: -17rem;
    left: 4rem;
  }
}

//tablet responsive

@media screen and (min-width: 321px) and (max-width: 480px) {
  .personMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-top: 3rem;
    border-right: 1px solid gray;
  }

  .newItem {
    top: -20rem;
    left: 4rem;
  }
}

//mini leptop responsive

@media screen and (min-width: 481px) and (max-width: 768px) {
  .personMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-top: 3rem;
    border-right: 1px solid gray;
  }

  .newItem {
    top: -21rem;
    left: 4.5rem;
  }
}

//leptop responsive

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .personMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-top: 3rem;
    border-right: 1px solid gray;
  }

  .newItem {
    top: -20rem;
    left: 4.5rem;
  }
}

@media screen and (min-width: 1025) and (max-width: 1200) {
  .personMain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;

    border-right: 1px solid gray;
  }

  .newItem {
    left: 10rem;
    bottom: -4rem;
  }
}
